anthropic
openai
groq
google-generativeai
torch
torchvision
numpy
transformers
datasets
scikit-learn
matplotlib
pypdf
pymupdf4llm
fastapi
uvicorn[standard]
pydantic
pydantic-settings
motor
pydantic-mongo
passlib[bcrypt]
python-jose
aider-chat
backoff
tiktoken
wandb
tqdm
retry