anthropic
aider-chat
backoff
openai
groq
google-generativeai
matplotlib
pypdf
pymupdf4llm
torch
torchvision
numpy
transformers
datasets
tiktoken
wandb
tqdm
retry
scikit-learn
fastapi
uvicorn[standard]
pydantic
pydantic[email]
python-dotenv
pymongo
pydantic_mongo
passlib
python-jose
pydantic-settings
motor
python-multipart